flask==2.0.1
flask-cors==3.0.10
flask-limiter==2.4.0
flask-caching==1.10.1
flask-compress==1.10.1
werkzeug==2.0.2
waitress==2.0.0
gunicorn==21.2.0

requests==2.26.0
urllib3==1.26.7
beautifulsoup4==4.9.3

brotli==1.0.9
zlib3==0.2.0

cloudscraper==1.2.60
cfscrape==2.1.1
undetected-chromedriver==3.4.6
selenium==4.1.0

python-dotenv==1.0.0
watchdog==3.0.0

lxml==4.9.3
json5==0.9.14
chardet==5.2.0

cryptography==41.0.5
